* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* section {
  margin-bottom: 20px;
} */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  /*debug*/
  /* color: white;
  font-weight: bold; */
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

hr {
  color: #D0D0D3;
  width: 20%;
}

.container-100 {
  width: 100%;
  margin: 0 auto;
  /*debug*/
  /* background-color: blanchedalmond; */
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-60 {
  width: 60%;
  margin: 0 auto;
}

