.jumbotron {
  margin-top: 80px;
  margin-bottom: 160px;
  height: 750px;
  /*debug*/
  background-color: #B4D0E7;
}

.jumbotron .container-h1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
}

.jumbotron h1 {
  font-size: 5rem;
}

.jumbotron .text-box {
  flex-direction: column;
  align-self: center;
  width: 40%;
  height: 100%;
  /*debug*/
  /* background-color: crimson; */
}

.jumbotron .img-box {
  width: 60%;
  height: 100%;
  /*debug*/
  /* background-color: blue; */
}

.img-box img {
  width: 100%;
}