.jumbotron {
  margin-top: 80px;
  margin-bottom: 160px;
  min-height: 650px;
  max-height: 780px;
  /*debug*/
  background-color: #B4D0E7;
}

.jumbotron .container-h1 {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0 40px 0;
}

.jumbotron h1 {
  font-size: 5rem;
}

.jumbotron .text-box {
  flex-direction: column;
  width: 30%;
  height: 100%;
  /*debug*/
  /* background-color: crimson; */
}

.text-box span:nth-child(2) {
  margin: 15px 0 15px 0;
}

.text-box span:nth-child(3) {
  font-size: 0.9rem;
}

.text-box span:last-child {
  font-size: 2rem;
}

.jumbotron .img-box {
  width: 70%;
  height: 100%;
  /*debug*/
  /* background-color: blue; */
}

.img-box img {
  width: 100%;
}