.jumbotron {
  min-height: 700px;
  max-height: 800px;
  margin: 40px 0 200px 0;
  padding: 50px 0;
  background-color: #B4D0E7;
}

.jumbotron h1 {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0 40px 0;
}

.jumbotron .text-box {
  flex-direction: column;
  min-width: 30%;
  max-width: 30%;
  gap: 20px;
}

.text-box p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 25px;
}

.text-box i{
  font-size: 3rem;
}

.jumbotron .img-box {
  min-width: 70%;
  max-width: 70%;
}

.img-box img {
  width: 90%;
}