main {
  margin-bottom: 150px;
}

/*-----------------------------------------------*/

                /*  FIRST SECTION  */

main .container-60 {
    min-height: 1200px;
}

.billing #monthly {
  margin-right: 10px;
  font-size: 1.1rem;
}

.billing .fa-circle-dot {
  margin-right: 1px;
  color: #0061FF;
  font-size: 1.2rem;
}

.billing .fa-circle-dot:hover {
  cursor: pointer;
}


.billing #yearly {
  font-size: 1.1rem;
}

.billing .fa-circle {
  margin-right: 1px;
  color: #D0D0D3;
  font-size: 1.2rem;
}

.billing .fa-circle:hover {
  cursor: pointer;
}

main .container-60 .business-plan-row {
  column-gap: 30px;
  margin-bottom: 30px;
}

main hr {
  margin-top: 25px;
  border: 1px solid #D0D0D3;
}

main .container-60 .business-plan-col {
  min-height: 1000px;
  line-height: 2rem;  
  border: 1px solid #D0D0D3;
}

main .container-60 .business-plan-target {
  text-align: center;
  border-bottom: 1px solid #D0D0D3;
}

main .container-60 .business-plan-info {
  padding: 15px 20px;
}

main .container-60 .business-plan-info ul {
  line-height: 2.5rem;
}

main .container-60 .business-plan-col-h {
  width: 100%;
  height: 250px;
  border: 1px solid #D0D0D3;
}

.business-plan-col-h .business-plan-target {
  height: 40px;
}

.business-plan-specs-h {
  position: relative;
  padding: 15px 0 10px 15px;
}

.business-plan-specs-h .btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.business-plan-specs-h .btn a {
  color: white;
}

                /*  SECOND SECTION  */

.partner-box-img {
  width: 55%;
  margin-right: 40px;
}

.partner-box-img img {
  width: 100%;
}

.partner-box-text {
  width: 45%;
}

.partner-box-text a:hover {
  background-color: #0061FF;
  color: white;
  transition: 0.6s;
  text-decoration: none;
}

                /*  THIRD SECTION  */

.business-op-col {
  width: calc(100% / 3);
  padding: 10px 50px 60px 0;
}

.business-op-col img {
  width: 100%;
}

                /*  FOURTH SECTION  */

.business-team-title {
  width: 60%;
}

.business-team-title a {
  text-decoration: none;
}

.business-team-title a:hover {
  text-decoration: underline;
}

/* ********************************************************************************* */

.business-team-left {
  width: 30%;
  height: 30vw;
}

.team-lx {
  width: 50%;
  height: 15vw;
}

.team-lx img {
  width: 60%;
  filter: invert(100);
}

#designit {
  background-color: #A2D39B;
}

#arizona {
  background-color: #61082B;
}

#florida {
  background-color: #0093CE;
}

#florida img {
  object-fit: contain;
}

#topps {
  background-color: #FF1C1C;
}


.business-team-middle {
  width: 40%;
  height: 30vw;
  background-color: #F5F5F5;
  overflow-y: scroll;
}

.business-team-middle img {
  width: 25%;
}

.business-team-middle hr {
  border: 1px solid #D0D0D3;
}

.business-team-middle-content {
  padding: 50px;
}

.business-team-right {
  width: 30%;
  /*debug*/
  height: 30vw;
}

.team-rx {
  width: 50%;
  height: 15vw;
}

.team-rx img {
  width: 60%;
  filter: invert(100);
}

#bicycle {
  background-color: #D5001F;
}

#hearst {
  background-color: #B4D0E7;
}

#lonely {
  background-color: #0D2481;
}

#clear {
  background-color: #FFD830;
}

/* ****************************************************************************** */

.cta {
  height: 400px;
  background-color: #B4D0E7;
}

.cta-text {
  padding: 50px;
  margin-right: 200px;
}

.cta-text h2 {
  font-size: 3rem;
  color: #61082B;
}

.cta-btn {
  padding: 50px;
}

.cta-btn a {
  border: 2px solid black;
}

.cta-btn a:hover {
  background-color: #61082B;
  color: #B0CCE2;
  transition: 0.6s;
  text-decoration: none;
  border: 2px solid white;
}

                /*  FIFTH SECTION  */

.faq hr {
  width: 100%;
  border: 1px solid #DEDEE0;
}

.faq {
  position: relative;
}


.item:hover .item {
  bottom: 120px;
}

.item p {
  /* display: none; */
  position: absolute;
  height: 1px;
  overflow: hidden;
  background-color: white;
}

.item:hover p {
  /* display: block; */
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  transition-duration: 2s;
  transition: 0.5s;
}

.panel {
  justify-content: space-between;
}

.accordion {
  cursor: pointer;
  width: 100%;
}

.chevron {
  margin-right: 10px;
}



