main {
  /*debug*/
  height: 2000px;
  /* background-color: #cecece; */
}

main .container-60 {
    /*debug*/
    /* background-color: bisque; */
    height: 1200px;
}

main .container-60 .business-plan-row {
  column-gap: 30px;
  margin-bottom: 30px;
  /*debug*/
  /* border: 6px solid green;
  background-color: lightgreen; */
}

main .container-60 .business-plan-col {
  height: 1000px;
  line-height: 2rem;  
  border: 1px solid #D0D0D3;
  /*debug*/

  /* background-color: lightcoral; */
}

main .container-60 .business-plan-target {
  text-align: center;
  border-bottom: 1px solid #D0D0D3;
  /*debug*/
  /* background-color: lightskyblue; */
}

main .container-60 .business-plan-info {
  padding: 15px 20px;
}

main .container-60 .business-plan-info ul {
  line-height: 2.5rem;
}

.invisible-line {
  width: 60px;
  height: 5px;
  border-bottom: 2px solid #D0D0D3;
}

main .container-60 .business-plan-col-h {
  width: 100%;
  height: 250px;
  border: 1px solid #D0D0D3;
  /*debug*/
  /* background-color: lightcoral; */
}

.business-plan-col-h .business-plan-target {
  height: 40px;
}

.business-plan-specs-h {
  position: relative;
  padding: 15px 0 10px 15px;
}

.business-plan-specs-h .btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.business-plan-specs-h .btn a {
  color: white;
}