.flex {
  display: flex;
}

.flex-dir-col{
  flex-direction: column;
}

.align-cx {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.just-cont-cx {
  justify-content: center;
}

.strong {
  font-weight: 900;
}

.upper {
  text-transform: uppercase;
}

.caps {
  text-transform: capitalize;
}

.px-1 {
  padding: 0 10px;
}

.px-2 {
  padding: 0 20px;
}

.px-3 {
  padding: 0 30px;
}

.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

.mbtm-1 {
  margin-bottom: 10px;
}

.mbtm-2 {
  margin-bottom: 20px;
}

.mbtm-3 {
  margin-bottom: 30px;
}

.mbtm-4 {
  margin-bottom: 40px;
}

.mbtm-12 {
  margin-bottom: 120px;
}

.btn {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #0061FF;
  color: white;
}

.btn-white {
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.a-blue {
  color: #0061FF;
  text-decoration: underline;
}

.a-white {
  text-decoration: underline;
}

.txt-blue {
  color: #0061FF;
}

.txt-gray {
  color: gray;
}

.txt-09 {
  font-size: 0.9rem;
}

.txt-11 {
  font-size: 1.1rem;
}

.txt-12 {
  font-size: 1.2rem;
}

.txt-15 {
  font-size: 1.5rem;
}

.txt-25 {
  font-size: 2.5rem;
}

.txt-50 {
  font-size: 5rem;
}